<head>
	<h1><center>ADD NEW EMPLOYEES</center></h1><br><br>
	<h2><center><b>REGISTRATION</b></center> </h2>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#Date_of_birth" ).datepicker({dateFormat: 'yy-mm-dd'});
  } );
  </script>

 
<style>
body{
	background-color: gray;
}
</style>
</head>
 
 <body><center>
  <form action="/birthday/add_employee/" method="post">
  {% csrf_token %}
<table border="1">
  <tr>
    <td>Employee Name</td>
    <td>
      <input type="textbox" name="name" placeholder="Name" data-toggle="tooltip" title="Please enter the name "size="20" required >
    </td>
  </tr>
  <tr>
    <td>Designation</td>
    <td><input type="textbox" name="designation" placeholder="designation" size="20" required ></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><input type="radio" name="gender" size="20" value="male" checked> Male
        <input type="radio" name="gender" size="20"value="female" required> Female<br>
    </td>
  </tr>
  <tr>
    <td>Mail_id</td>
    <td><input type="email" name="mail_id" id="Email" placeholder="Email" data-toggle="tooltip" title="Please enter valid Email" size="20" required></td>
  </tr>
   <tr>
    <td>Date_of_birth</td>
    <td><input type="text" id="Date_of_birth" name="date_of_birth" placeholder="date_of_birth" data-toggle="tooltip" title="Please enter your date of birth"size="20" required></td>
  </tr>

</table>
{% csrf_token %}
<input type="submit" value="SAVE" name="add">
  <input type="reset" value="RESET"
</form>


  <form action="/birthday/employee_list/" method="post">
  
  {% csrf_token %}

  <input type = "submit" value="VIEW EMPLOYEE LIST" name="add" style="position: absolute; top: 0; right: 0;"/>
  </form>

  
  <form action="/birthday/" method="post">
  
  {% csrf_token %}
  <input type = "submit" value="MOVE HOMEPAGE" name="add" style="position: absolute; top: 0; left: 0;"/>
  
  </form>

</center>
 </body>







<!--    <form action="/birthday/add_employee/" method="post">
   
   {% csrf_token %}
         Employee Name:<input type="textbox" name="name" required></br>
         Designation  :<input type="textbox" name="designation" required></br>

         Gender       :<input type="radio" name="gender" value="male" checked> Male
                       <input type="radio" name="gender" value="female"> Female<br>

         Mail_id     :<input type="email" name="mail_id" id="Email" placeholder="Email" data-toggle="tooltip" title="Please enter valid Email"></br>
         
         Date_of_birth:<input type="text" id="Date_of_birth" name="date_of_birth"></br>
         
  
                    
                    <input type="submit" value="SAVE" name="add">
                    <input type="reset" value="RESET">
   </form>
   <form action="/birthday/" method="post">
  
   {% csrf_token %}
   <input type = "submit" value="BACK" name="add"/></br> -->