<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<head>
<title></title>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<META NAME="keywords" Content="tamil, thedal, search">
<META NAME="description" CONTENT="tamil kavya thedal">
<META name="robots" Content="Index,Follow">
<script type="text/javascript" src="http://www.google.com/jsapi">
    </script>
<script type="text/javascript">

google.load("elements", "1", {packages: "transliteration"});

function OnLoad() {
  var content = document.getElementById('content');
  // Create the HTML for our text area
  content.innerHTML = '<div>Type a word and hit space to get it in Hindi. ' +
                      'Click on a word to see more options.</div>' +
                      '<textarea cols="100" rows="5" id="transliterateTextarea"></textarea>' +
                      '<div>Type in (do not copy/paste): ' +
                      '<b>namaste main yahan apke madad karane ke liye hun</b></div>';

  var options = {
      sourceLanguage:
          google.elements.transliteration.LanguageCode.ENGLISH,
      destinationLanguage:
          [google.elements.transliteration.LanguageCode.HINDI],
      shortcutKey: 'ctrl+g',
      transliterationEnabled: true
  };

  // Create an instance on TransliterationControl with the required
  // options.
  var control =
      new google.elements.transliteration.TransliterationControl(options);

  // Enable transliteration in the textbox with id
  // 'transliterateTextarea'.
  control.makeTransliteratable(['transliterateTextarea']);
}

google.setOnLoadCallback(OnLoad);
</script>
</head>

<body topmargin="0" leftmargin="0" link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">

  <TABLE width="100%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
    <TR>
		
      <TD height="16" background="images/pixi_white.gif"><img src="images/pixi_white.gif" width="16" height="16"></TD>
	</TR>
	<TR>
		
      <TD height="2" background="images/top_twogreys.gif"> <IMG SRC="images/top_twogreys.gif" WIDTH=4 HEIGHT=2></TD>
	</TR>
	<TR>
		
      <TD height="72" background="images/top_bg_blue.gif"> 
        <table width="100%" border="0">
          <tr>
            <td width="1"><img src="images/top_bg_blue.gif" width="1" height="70"></td>
            <td width="514" valign="top"><img src="images/pic_companylogo.gif" width="185" height="48"></td>
            <td width="239" valign="top">&nbsp;</td>
          </tr>
        </table> </TD>
	</TR>
	<TR>
		
      <TD height="24" background="images/nav1_bg1.gif">
        <p align="right"><font color="#FFFFFF" size="2" face="Verdana"><b>
        <a href="index.html">Main</a> |
        <a href="index.html">About Author</a> | <a href="index.html">Products</a> | 
        <a href="index.html">Services</a> | <a href="index.html">Support</a> | 
        <a href="index.html">Contact us</a></b></font></p>
      </TD>
	</TR>
	<TR> 
      <TD height="1" background="images/pixi_white.gif"><img src="images/pixi_white.gif" width="4" height="1"></TD>
	</TR>
	<TR>
		
      <TD height="21" background="images/nav2_bg.gif">&nbsp; </TD>
	</TR>
</TABLE>
<table border="0" width="100%">
  <tr>
    <td width="25%" valign="top">
      <table border="0" cellpadding="5" cellspacing="5" width="100%">
        <tr>
          <td width="100%" background="images/nav1_bg1.gif">
            <p align="center"><b><font face="Verdana" size="2" color="#FFFFFF">
            News</font></b></p>
            <p align="center"><font face="Verdana" size="2" color="#FFFFFF">News 
            news news news news news news news news news news news news news 
            news news news news news news news news news news news news news 
            news news news news news news news news news news news news news 
            news news news news news news news news news news news news news 
            news news news news news news news news news news news news news 
            news news news news news news news news news news news news news 
            news news news news news news news news news news news news news 
            news news news news news news news news news news news news news 
            news news news.</font></p>
            </td>
        </tr>
      </table>
    </td>
    <td width="75%">
      <table border="0" cellpadding="5" cellspacing="5" width="100%">
        <tr>
          <td width="100%"><b><font face="Verdana" size="2">Text </font></b><font face="Verdana" size="2"><b><br>
            <br>
            </b></font>Text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text .<p><b><font face="Verdana" size="2">
          Text </font></b><font face="Verdana" size="2"><b><br>
            <br>
            </b></font>Text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text text text text text text text text text 
          text text text text text text .</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
  <TABLE width="100%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		
      <TD height="21" background="images/nav2_bg.gif">
        <p align="center"><font face="Verdana" size="2">© Copyright 2006. Site 
        Name.</font></p>
 </TD>
	</TR>
</TABLE>
  <TABLE width="100%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		
      <TD height="24" background="images/nav1_bg1.gif">
        &nbsp;</TD>
	</TR>
</TABLE>

  <TABLE width="100%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
    <TR>
		
      <TD height="16" background="images/pixi_white.gif"><img src="images/pixi_white.gif" width="16" height="16"></TD>
	</TR>
</TABLE>
</Body></html>
			<br><br>
