<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tamil Thedal</title>
<META NAME="keywords" Content="tamil, thedal, search">
<META NAME="description" CONTENT="tamil kavya thedal">
<link rel="stylesheet" type="text/css" href="/static/css/style.css" title="standard-css1" />
<script type="text/javascript" src="http://www.google.com/jsapi">
    </script>

<script type="text/javascript">
function setaction(actionurl)
{
 	
 document.adminsearch.action = actionurl;
}

google.load("elements", "1", {packages: "transliteration"});

function OnLoad() {
  var content = document.getElementById('content');
  

  var options = {
      sourceLanguage:
          google.elements.transliteration.LanguageCode.ENGLISH,
      destinationLanguage:
          [google.elements.transliteration.LanguageCode.TAMIL],
      shortcutKey: 'ctrl+g',
      transliterationEnabled: true
  };

  // Create an instance on TransliterationControl with the required
  // options.
  var control =
      new google.elements.transliteration.TransliterationControl(options);

  // Enable transliteration in the textbox with id
  // 'transliterateTextarea'.
  control.makeTransliteratable(['transliterate']);
}

google.setOnLoadCallback(OnLoad);

/*
 * This is the function that actually highlights a text string by
 * adding HTML tags before and after all occurrences of the search
 * term. You can pass your own tags if you'd like, or if the
 * highlightStartTag or highlightEndTag parameters are omitted or
 * are empty strings then the default <font> tags will be used.
 */
function doHighlight(bodyText, searchTerm, highlightStartTag, highlightEndTag) 
{
  // the highlightStartTag and highlightEndTag parameters are optional
  if ((!highlightStartTag) || (!highlightEndTag)) {
    highlightStartTag = "<font style='color:blue; background-color:yellow;'>";
    highlightEndTag = "</font>";
  }
  
  // find all occurences of the search term in the given text,
  // and add some "highlight" tags to them (we're not using a
  // regular expression search, because we want to filter out
  // matches that occur within HTML tags and script blocks, so
  // we have to do a little extra validation)
  var newText = "";
  var i = -1;
  var lcSearchTerm = searchTerm.toLowerCase();
  var lcBodyText = bodyText.toLowerCase();
    
  while (bodyText.length > 0) {
    i = lcBodyText.indexOf(lcSearchTerm, i+1);
    if (i < 0) {
      newText += bodyText;
      bodyText = "";
    } else {
      // skip anything inside an HTML tag
      if (bodyText.lastIndexOf(">", i) >= bodyText.lastIndexOf("<", i)) {
        // skip anything inside a <script> block
        if (lcBodyText.lastIndexOf("/script>", i) >= lcBodyText.lastIndexOf("<script", i)) {
          newText += bodyText.substring(0, i) + highlightStartTag + bodyText.substr(i, searchTerm.length) + highlightEndTag;
          bodyText = bodyText.substr(i + searchTerm.length);
          lcBodyText = bodyText.toLowerCase();
          i = -1;
        }
      }
    }
  }
  
  return newText;
}


/* onload="highlightSearchTerms('{{searchword}}' , 'true');"
 * This is sort of a wrapper function to the doHighlight function.
 * It takes the searchText that you pass, optionally splits it into
 * separate words, and transforms the text on the current web page.
 * Only the "searchText" parameter is required; all other parameters
 * are optional and can be omitted.
 */
function highlightSearchTerms(searchText, treatAsPhrase, warnOnFailure, highlightStartTag, highlightEndTag)
{
  // if the treatAsPhrase parameter is true, then we should search for 
  // the entire phrase that was entered; otherwise, we will split the
  // search string so that each word is searched for and highlighted
  // individually
  
  if (treatAsPhrase) {
    searchArray = [searchText];
  } else {
    searchArray = searchText.split(" ");
  }
  
  if (!document.body || typeof(document.body.innerHTML) == "undefined") {
    if (warnOnFailure) {
      alert("Sorry, for some reason the text of this page is unavailable. Searching will not work.");
    }
    return false;
  }
  
  var bodyText = document.body.innerHTML;
  for (var i = 0; i < searchArray.length; i++) {
    bodyText = doHighlight(bodyText, searchArray[i], highlightStartTag, highlightEndTag);
  }
  
  document.body.innerHTML = bodyText;
  return true;
}

function highlightSearchText() {
 try{
  var search_text = document.getElementById('transliterate').value;
  if (search_text != '') {
  highlightSearchTerms(search_text , 'true');} } catch (err) {}
}
</script>

</head>

<body onload = " highlightSearchText(); OnLoad();">
	<form method="post" name="adminsearch" id="adminsearch" >
		<div id="wrap">
			<div id="header">
				<ul id="topmenu">
					<li><a href="/home/" >Home</a> </li>
					<li><a href="/aboutus/" >About Us</a> </li>
					<li><a href="/contactus/" >Contact Us</a></li>
					<li><a href="/references/" >References</a></li>
					<li><a href="/login/" >Logout</a></li>
				</ul>
				<div class="clear"></div>
				<h1 id="sitename"><a href="#" style="color: White";></a></h1>
			</div>
			<div id="content">
				<div id="sidebar">
					<div class="sidebartop"></div>
					<div id="sidebarcontent">
					<h2>Search by Alphabets</h2>
					<table><tr>
					<td><span><a href="/listletterSearch/?letter=அ">அ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ஆ">ஆ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=இ">இ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ஈ">ஈ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=உ">உ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ஊ">ஊ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=எ">எ</a></span></td>
					</tr>
					<tr>
					<td><span><a href="/listletterSearch/?letter=ஏ">ஏ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ஐ">ஐ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ஒ">ஒ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ஔ">ஔ</a></span></td>
					</tr>
					<tr><td><span><a href="/listletterSearch/?letter=க">க</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ங">ங</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ச">ச</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ஞ">ஞ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ட">ட</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ண">ண</a></span></td>
					<td><span><a href="/listletterSearch/?letter=த">த</a></span></td>
					</tr>
					<tr>
					<td><span><a href="/listletterSearch/?letter=ந">ந</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ப">ப</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ம">ம</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ய">ய</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ர">ர</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ல">ல</a></span></td>
					<td><span><a href="/listletterSearch/?letter=வ">வ</a></span></td>
					</tr>
					<tr>
					<td><span><a href="/listletterSearch/?letter=ழ">ழ</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ள">ள</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ற">ற</a></span></td>
					<td><span><a href="/listletterSearch/?letter=ன">ன</a></span></td>
					</tr>
					</table>
					</div>
				</div>
			
			<div id="left">
				<div class="post">
					<table cellpadding="5" cellspacing="5">
                    <tr><td><b>Welcome admin</b></td></tr>
					<tr>
					<td align="left">Tamil Thedal<input type="text"  style="width:240px;margin-left:20px;margin-right:10px;" id="transliterate" name="transliterate" value = "{{searchword}}" /> <input type="submit" style="width:60px;" value="search" onclick="setaction('/adminsearch/');" />
					</td></tr>
<tr><td> Hit space bar after entering in search box , to convert. Press Ctrl + G to toggle text conversion in Tamil and English</td></tr>
</table>
					
					<table>
					<tr><td><span class="msg">{{msg}}</span></td>
					<td colspan="2" align="right"><a href="/editdata/"><b>create Key/ Context</b></a></td></tr>
                    {%ifequal totalres 0%}
                    <tr><td colspan="3"><h4>Sorry , no results found</h4></td></tr>
                    {% endifequal%}
                    {% if result %}
                    <tr><td colspan="3"><h4>Search Result:</h4></td></tr>
                    <tr><td ><b>Select</b></td><td><span ><b>Key</b></span></td><td><b>Context</b></td></tr>
                    {% for each in letterresult %}
    <tr align="left"><td valign="top" style="white-space:nowrap;" ><input type="checkbox" name="deleteChecked" id="deleteChecked"  value="{{each.docTime}}" /><br /><a href="/updatedata/?ids={{each.key}}" ><span>edit</span></a></td>
					<td valign="top" >{{each.key|cut:"letter"}}</td>
					<td valign="top" align="left">{{each.context}}</td></tr>
					
	{% endfor %}
					{% for each in result %}							 
					<tr align="left"><td valign="top" style="white-space:nowrap;" ><input type="checkbox" name="deleteChecked" id="deleteChecked"  value="{{each.docTime}}" /><br /><a href="/updatedata/?ids={{each.key}}" ><span>edit</span></a></td>
					<td valign="top" >{{each.key}}</td>
					<td valign="top" align="left">{{each.context}}</td></tr>
					{% endfor %}
					<tr><td align="left" colspan="3" ><input type="submit" value="Delete" onclick= 'setaction("/deleteword/");'/></td></tr>

{% endif %}
					</table><br /><br />
					<div class="postbottom"></div>
				</div>
			<div id="postbottom">
				<div class="clear2"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div id="footer">
			<p align="center">Copyright 2009. Tamil Thedal.</p>
		</div>
	</div>
</div>
</form>
</body>
</html>
